In [2]:
import logging
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from scipy import stats
from statsmodels.tsa.api import VAR
from statsmodels.tools.eval_measures import rmse, aic
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.stattools import grangercausalitytests
import pickle
from sklearn.model_selection import train_test_split
import re
import logging

In [4]:
sun_train_y = pd.read_csv("sun_y_train.csv")
pruned_df = pd.read_csv("pruned_df.csv")
pruned_df

      Adj. Close.L1  P/E (LTM).L1  Close.L1  Close.L2  Close.L3
0         -0.264607     -0.567380    23.290     23.71     23.48
1          0.252007      0.540362    23.690     23.29     23.71
2         -0.296108     -0.634925    23.220     23.69     23.29
3          0.000000      0.000000    23.220     23.22     23.69
4          0.173255      0.371499    23.495     23.22     23.22
...             ...           ...       ...       ...       ...
1574      -0.075828     -0.057438    19.320     19.42     19.32
1575       0.432221      0.327395    19.890     19.32     19.42
1576      -0.106159     -0.080413    19.750     19.89     19.32
1577       0.235067      0.178057    20.060     19.75     19.89
1578       0.121325      0.091900    20.220     20.06     19.75

[1579 rows x 5 columns]

In [49]:
frufs_model = AutoReg(sun_train_y, lags=0, exog=pruned_df).fit()
MAE_train = np.nanmean(abs(frufs_model.predict() - sun_train_y.squeeze()))
MAE_train

0.3078256768339393

In [ ]:
MAE_test = np.nanmean(abs(y_pred_out - y_test))

In [48]:
sun_train_y.squeeze()

0       23.690
1       23.220
2       23.220
3       23.495
4       24.150
         ...
1574    19.890
1575    19.750
1576    20.060
1577    20.220
1578    20.600
Name: Close, Length: 1579, dtype: float64

In [40]:
sun = sun_train_y.to_series

AttributeError: 'DataFrame' object has no attribute 'to_series'

In [38]:
type(frufs_model.predict())

pandas.core.series.Series

In [13]:
frufs_model.predict()

0       23.312595
1       23.721380
2       23.235124
3       23.269519
4       23.508125
          ...
1574    19.376667
1575    19.880770
1576    19.781749
1577    20.080084
1578    20.230196
Length: 1579, dtype: float64

In [ ]:
MAE_train = np.nanmean(abs(fin_model.predict() - y_train_m))